
<html>
   <head>
        <title>Dig-Doug's pizza</title>
        <link rel="stylesheet" type="text/css" href="css/random.css">
   </head>

   <style>
   .content {
       max-width: 410px;
       margin: auto;
   }
   </style>
   
   <body>
    <center>

    <form method="post" action="/pizza">
    <h3>Subtotal</h3>
    <h3>Delivery or carryout?</h3>
    <h3>Delivery address</h3>

    <h6>Sales tax</h6>
    <h2>Grand total</h2>




    </center>

   </body>
   </html>
