
<html>
   <head>
        <title>Thank you!</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
   </head>

   <style>

   </style>

    <body>
    <div class="content">

    <center>
    <form method="post" action="/lastpage">

    <h3>Thank you!</h3>

    </form>
  </div>
    </center>
   </body>
   </html>
